In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
pv = 360000 # what"s the loan value today
rate = 0.05875 # interest rate that you pay annually
term = 30 # years
pmt = np.pmt(rate / 12, term * 12, -pv) # numpy payment function
pmt # monthly payment

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning: numpy.pmt is deprecated and will be removed from NumPy 1.20. Use numpy_financial.pmt instead (https://pypi.org/project/numpy-financial/).
  after removing the cwd from sys.path.

2129.535947424394

In [1]:
def amortize(pv,rate,term,extra_principal=0):
    # calc monthly payment
    pmt = np.pmt(rate / 12, term * 12, -pv)
    # create dataframe with place holders
    amort_table = pd.DataFrame({'Balance': np.zeros(term * 12 + 1), 
                            'Interest': np.zeros(term * 12 + 1),
                            'Principal': np.zeros(term * 12 + 1),
                            'Cum_Int' : np.zeros(term * 12 + 1)})
    # initialize the values
    amort_table['Balance'][0] = pv
    amort_table['Interest'][0] = amort_table['Balance'][0] * rate / 12
    amort_table['Principal'][0] = (pmt + extra_principal) - amort_table['Interest'][0]
    amort_table['Cum_Int'] = amort_table['Interest'].cumsum()
    # Fill the table by looping  
    for payment in range(1,360):
            actual_pmt  = pmt + extra_principal # calc actual montly payment
            # calc new balance by sub prevıous principal - from previous balance, 
            amort_table['Balance'][payment] = max(0,
                        amort_table['Balance'][payment - 1] - amort_table['Principal'][payment - 1])
            amort_table['Interest'][payment] = rate / 12 * amort_table['Balance'][payment]
            amort_table['Principal'][payment] = actual_pmt - amort_table['Interest'][payment]
            if amort_table['Balance'][payment] < actual_pmt :
                amort_table['Principal'][payment] = amort_table['Balance'][payment]
                break
    amort_table = amort_table[amort_table['Balance'] != 0]
    amort_table['Cum_Int'] = amort_table['Interest'].cumsum()
    amort_table = round(amort_table,2)
    summary = pd.Series({
        'Interest': rate,
        'Payment' : round(pmt,2),
        'Extra Principal' : extra_principal,
        'Total interest' : amort_table['Cum_Int'].max(),
        'Periods' : amort_table.index[-1] + 1
    })    
    
    return amort_table, summary

In [4]:
amort_table, summary = amortize(pv,rate,term,extra_principal=0)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning: numpy.pmt is deprecated and will be removed from NumPy 1.20. Use numpy_financial.pmt instead (https://pypi.org/project/numpy-financial/).
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
amort_table

       Balance  Interest  Principal    Cum_Int
0    360000.00   1762.50     367.04    1762.50
1    359632.96   1760.70     368.83    3523.20
2    359264.13   1758.90     370.64    5282.10
3    358893.49   1757.08     372.45    7039.18
4    358521.04   1755.26     374.28    8794.44
..         ...       ...        ...        ...
355   10493.06     51.37    2078.16  406529.69
356    8414.90     41.20    2088.34  406570.89
357    6326.56     30.97    2098.56  406601.87
358    4228.00     20.70    2108.84  406622.57
359    2119.16     10.38    2119.16  406632.94

[360 rows x 4 columns]

In [6]:
summary

Interest                0.05875
Payment              2129.54000
Extra Principal         0.00000
Total interest     406632.94000
Periods               360.00000
dtype: float64